/*Universal*/

/*Navigation*/
#nav-color{
  background-color: rgb(36,35,35) !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*textSection*/
#textSection{
  margin-top: 40px !important;
}

.border{
  border: 1px solid black;
  padding: 10px 10px;
}

.align-center{
  text-align: center;
  margin: 25px 0;
}

@media only screen and (min-width: 1000px){
  #textSection{
    max-width: 1425px;
    margin: 0 auto;
  }
}

/*AboutText*/


/*Menu*/

#menu{
  text-align: center !important;
}

/*Footer*/

.center{
  text-align: center;
}

.main-footer{
  background-color: rgb(68,68,68);;
}

.text-xs-center{
  margin:0 !important;
}

.footer-header{
  color: rgb(236,236,236);
  padding-top:15px;
}

.list-unstyled li{
  color:#BEBEBE;
}

.text-xs-center{
  color: #BEBEBE;
}