
/*textSection*/
#textSection{
  margin-top: 40px !important;
}

.border{
  border: 1px solid black;
  padding: 10px 10px;
}

.align-center{
  text-align: center;
  margin: 25px 0;
}

@media only screen and (min-width: 1000px){
  #textSection{
    max-width: 1425px;
    margin: 0 auto;
  }
}

/*AboutText*/

/*Footer*/

.center{
  text-align: center;
}
